name: Validate

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

permissions: {}

jobs:
  validate-hacs:
    runs-on: 'ubuntu-latest'
    steps:
      - name: HACS validation
        uses: 'hacs/action@main'
        with:
          category: 'plugin'
