name: Release

on:
  push:
    tags:
      - '*'

jobs:
  release:
    name: Prepare release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6

      # Extract version from tag
      - name: Extract version from tag
        id: version
        run: echo "version=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

      # Build with version
      - name: Build the file
        run: |
          npm install
          npm run version:update -- ${{ steps.version.outputs.version }}
          npm run build

      # Upload build file to the releas as an asset.
      - name: Upload to release
        uses: svenstaro/upload-release-action@v2
        with:
          file: dist/mealplan-card.js
          prerelease: true
          tag: ${{ github.ref }}
          overwrite: true
